@import url('https://fonts.googleapis.com/css2?family=Mali&family=Overpass:wght@200&family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Overpass';
}

.header {
    display: flex;
    min-height: 20vh;
}

#Search {
    width: 50px;
    border-radius: 20px;
}

.logo {
    height: 350px;
    width: 350px;
}

.topnav {
    overflow: hidden;
    background-color: whitesmoke;
    margin-bottom: 50px;
}