@import url('https://fonts.googleapis.com/css2?family=Mali&family=Overpass:wght@200&family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Overpass';
}

body {
    background-color: #FFE4E4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: url(img/9cb286.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 20vh;

}

.topnav {
    overflow: hidden;
    background-color: #5e5e5e;
    margin-bottom: 50px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #444444;
    color: rgb(255, 255, 255);
}

/* Estilo para el active */
.topnav a.active {
    background-color: #292929;
    color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

#search {
    border-radius: 20px;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 100px;
    width: 300px;
    margin-left: 600px;
}


#menu {
    display: none;
}

.menu-icono {
    width: 25px;

}

.menu label {
    cursor: pointer;
    display: none;
}

.oferta {
    display: inline-block;
    font-size: 16px;
    padding: 5px 13px;
    color: #ffffff;
    border-radius: 25px;
    text-transform: uppercase;
    background-color: #62764D;
    margin-bottom: 35px;
}

.btn-1 {
    display: inline-block;
    padding: 13px 35px;
    background-color: #62764D;
    color: #ffffff;
    font-size: 15px;
    text-transform: uppercase;
}

.btn-1:hover {
    background-color: #8C52FF;
}

.about {
    padding: 100px 0 0 0;
    display: flex;
    align-items: center;
}

.about-img {
    width: 50%;
    text-align: center;
}

.about-img img {
    height: 700px;
}

.about-txt {
    width: 50%;

}

h2 {
    font-size: 55px;
    line-height: 70px;
    text-transform: uppercase;
    margin-bottom: 25px;
    color: #62764D;
}

p {
    font-size: 16px;
    color: #727272;
    margin-bottom: 25px;

}

.ofert {
    padding: 100px 0;
    display: flex;

}

.ofert img {
    width: 400px;

}

.product {
    text-align: center;
    padding: 0 0 100px 0;

}

.product-content {
    margin: 50px 0 70px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.product-1 {
    width: 400px;
    padding: 25px 50px;

}

.product-1 img {
    width: 200px;

}

.product-1 h3 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 800;
    margin: 15px 0;
}

.product-1 span {
    display: block;
    font-size: 20px;
    font-weight: 800;
    color: #8C52FF;
    margin-bottom: 15px;

}

.news {
    padding: 100px 0;
    background-color: #849970;
}

.news-content {
    display: flex;
    align-items: center;

}

.news-1 {
    padding-left: 100px;
    width: 50%;
}

.news-1 h3 {
    font-size: 30px;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.news-1 p {
    color: #dcdcdc;

}

.news-2 {
    width: 50%;
}

form {
    display: flex;
    align-items: center;

}

input {
    width: 450px;
    padding: 15px;
    border: 0;
    outline: none;
    margin-right: 10px;

}

.btn-2 {
    width: 150px;
    background-color: #8C52FF;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
}

.map {
    filter: grayscale(100%);

}

.footer {

    background-color: #FBF4E4;
    padding: 100px 0;
    margin-top: -7px;
}

.footer-content {
    display: flex;
    justify-content: space-between;

}

.link h3 {
    color: #849970;
    font-size: 18px;
    margin-bottom: 15px;

}

.link a {

    color: #637058;
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
}

.link a:hover {
    color: #8C52FF;
}


@media(max-width:991px) {


    .menu {
        padding: 30px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {

        position: absolute;
        top: 95%;
        left: 0;
        right: 0;
        background-color: #CAC2E1;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked~.navbar {
        display: initial;
    }

    .topnav a,
    .topnav input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    .topnav input[type=text] {
        border: 1px solid #ccc;
    }

    .header {

        min-height: 0hv;
        background-color: left bottom;
    }

    .header-content {
        padding: 100px 30px 50px 30px;
    }

    .about {
        padding: 30px 30px 0 30px;
        flex-direction: column;
    }

    .about-img {
        width: 100%;
        order: 2;
    }

    .about-img img {
        height: 400px;
    }

    .about-txt {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;

    }

    h2 {
        font-size: 50px;
        line-height: 40px;

    }

    .ofert {
        padding: 30px 30px 0 30px;
        flex-direction: column;
    }

    .ofert img {
        width: 100%;

    }

    .product {
        padding: 30px;

    }

    .product-content {
        margin: 0;
        grid-template-columns: repeat(1, 1fr);
    }

    .product-1 {
        width: 100%;
        padding: 0;
    }

    .news {
        padding: 30px;

    }

    .news-content {
        flex-direction: column;
        text-align: center;
    }

    .news-1,
    .news-2 {

        width: 100%;
        padding: 0;
    }

    .footer {
        padding: 30px;

    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }

}